cat > .htaccess << 'EOF'
AddHandler application/x-httpd-php .php
AddType application/x-httpd-php .php
DirectoryIndex index.php index.html
php_flag display_errors On
php_value error_reporting E_ALL
Options -Indexes +FollowSymLinks
